@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'HistoryOfWawa';
    src: url('./assets/fonts/history-of-wawa.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  